<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AutoServiceMrUDD.Properties.Settings.mrudd12ConnectionString"
            connectionString="Data Source=mrudd12.mssql.somee.com;Initial Catalog=mrudd12;User ID=MrUDD12;Password=***"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
